/vendor
/node_modules
/public/build
/storage/*.key
.env
.env.backup
.env.production
.phpunit.result.cache
docker-compose.yml
.git
.github
/tmp
/tests
.editorconfig
.prettierrc
Dockerfile
.dockerignore
/bootstrap/cache/*
/storage/framework/cache/data/*
/storage/framework/views/*.php
/storage/framework/sessions/*
/storage/logs/*
