.git
.github
.no
.phpunit.cache
.phpunit.result.cache
.vscode
.idea

node_modules
vendor

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/pail
bootstrap/cache/*.php

.env
.env.*
!.env.example
!.env.docker.example

output
npm-debug.log
yarn-error.log
*.log
*.key
*.pem
